<mat-toolbar color="primary">
  <span style="font-weight: 600; font-size: 1.5rem"
    >Consulta sobre {{ query().title }}</span
  >
  <button
    mat-icon-button
    class="back-button"
    matTooltip="Volver"
    (click)="onGoBack()"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
</mat-toolbar>

<div class="card-container">
  <mat-card class="form-card">
    <mat-card-title class="card-title">
      <mat-icon class="card-icon">info</mat-icon>
      {{ query().description }}
    </mat-card-title>
    <form [formGroup]="formGroup()" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="form-container">
          @for (dimension of query().dimensions; track $index) { @switch
          (dimension.type) { @case ('selector') {
          <mat-form-field appearance="outline">
            <mat-label>{{ dimension.name }}</mat-label>
            <mat-select formControlName="{{ dimension.bodyName }}">
              <ng-container
                *ngFor="
                  let option of getOptions(dimension.bodyName);
                  let i = index
                "
              >
                <mat-option [value]="option.getId()">{{
                  option.buildPresentation()
                }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
          } @case ('date') {
          <mat-form-field appearance="outline">
            <mat-label>{{ dimension.name }}</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              formControlName="{{ dimension.bodyName }}"
            />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          } @default {
          <mat-form-field appearance="outline">
            <mat-label>{{ dimension.name }}</mat-label>
            <input
              matInput
              type="text"
              formControlName="{{ dimension.bodyName }}"
            />
          </mat-form-field>
          } } }
        </div>
        <button
          class="card-button"
          mat-stroked-button
          color="primary"
          type="submit"
        >
          Consultar
        </button>
      </mat-card-content>
    </form>
  </mat-card>
</div>
